{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NL to SQL Executor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Budget Overview 2025</h1>
    <div class="dashboard-grid">
        <div class="dashboard-item col-span-33">
            <h3>Total Budget 2025</h3>
            <p>The Total Budgeted for 2025 is GYD 1,382,150,486,000.</p>
        </div>

        <div class="dashboard-item col-span-33">
            <h3>Total OPEX Budget 2025</h3>
            <p>The Total OPEX Budgeted for 2025 is GYD 644,469,923,000.</p>
        </div>

        <div class="dashboard-item col-span-33">
            <h3>Total CAPEX Budget 2025</h3>
            <p>The Total CAPEX Budgeted for 2025 is GYD 737,680,563,000.</p>
            <p>The government is undertaking 185 major projects.</p>
        </div>

        <div class="dashboard-item col-span-50">
            <h3>CAPEX/OPEX Distribution</h3>
            <iframe title="chart 1" src="{% static 'charts/chart_1.html' %}" width="100%" height="600"></iframe>
            <p>Guyana as a developing nation requires heavy CAPEX investments. Thanks to 
                the oil revenues the government has been able to significantly increase 
                its CAPEX budget over the last few years. In 2025 CAPEX accounts for 53% 
                of the total budget, a trend that is likely to continue for the next few years
                as the government focuses on infrastructure development to support the 
                growing economy.
            </p>
            </div>

        <div class="dashboard-item col-span-50">
            <h3>CAPEX/OPEX Trends</h3>
            <iframe title="chart 2" src="{% static 'charts/chart_2.html' %}" width="100%" height="600"></iframe>
            <p>In 2023 OPEX spending dominated however by 2024 and in 2025 the spending on CAPEX significantly 
                increased, by 117% in 2024 and again by 22% in 2025. This shows a conscious 
                effort to prioritize long term investment in infrastructure. However, this 
                increase in infrastructure will result in greater OPEX expenditure in the 
                future to at the very least maintain the new infrastructure.</p>
        </div>

        <div class="dashboard-item col-span-90">
            <h3>Ranked List of Ministries by spending</h3>
            <iframe title="chart 3" src="{% static 'charts/chart_3.html' %}" width="100%" height="600"></iframe>
            <p>We can see that much of the capex spending is happening in infrastructure 
                sectors. Public Works, Office of the PM, Housing and Water have significant
            portfolios in infrastructure development.</p>
            <p>A concern, however, is the relatively tiny OPEX budget for Public Works.
                We see that there were significant capital projects undertaken in 2024 and 2025
                yet the OPEX budget is only 6% of the total budget. This raises questions about
                the government's plans for maintenance of new assets. Without adequate
                funding for OPEX, there is a risk that the infrastructure projects may not be
                sustainable in the long term.</p> 
                <p>It is even worse with regards to Ministry of Housing and Water. However,
                this may be due to the fact that some of the maintenance costs are being absorbed
                by GWI, Local Government, and private individuals (for the maintenance of their
                assigned house lots).
                </p>
        </div>
    </div>

    <div class="dashboard-grid">
        <div class="dashboard-item col-span-90">
            <h3>Programme Overview</h3>
            <iframe title="chart 4" src="{% static 'charts/chart_4.html' %}" width="100%" height="600"></iframe>
            <p>
                We see that most Infrastructure programmes are under Ministry of Public Works 
                and the PM's office and is dominated by CAPEX spending. This makes sense as 
                the PM's office is in charge of the gas to energy project. We also see that 
                many social services are distributed among many agencies. While the main 
                ministries get the bulk of the financing, smaller agencies also share some 
                of these responsibilities.
            </p>
        </div>

        <div class="dashboard-item col-span-90">
            <h3>Agency Programme Cross Analysis</h3>
            <iframe title="chart 5" src="{% static 'charts/chart_5.html' %}" width="100%" height="600"></iframe>
            <p>
                We are limiting our view only to those government agencies that account 
                for at least 2% of total government budget. What our graph above shows is 
                that there is almost one-to-one relationship between government agencies and 
                category of programmes they engage with. This provides clarity in 
                responsibilities and focuses an agency on specific tasks.</p>
                <p>We also see that the Ministry of Finance is the main contributor to 
                    "General Administration & Governance". This ministry therefore has 
                    overall responsibility for running the state machinery.</p>
            </p>
        </div>
        
        <div class="dashboard-item col-span-50">
            <h3>Concentration Index (per Ministry)</h3>
            <iframe title="chart 6" src="{% static 'charts/chart_6.html' %}" width="100%" height="600"></iframe>
            <p>
                To show the degree of concentration of spending per ministry, 
                we use the Herfindahl-Hirschman Index (HHI). The HHI is usually used
                in to measure the concentration of firms in a market to show the presence
                of monopolies. However, we can also use it to measure the concentration 
                of spendingwithin a ministry. 
            </p>
            <p>
                Values closer to 1 will tell us which ministries/agencies are functionally
                specialized, focusing on a few key programmes. Values closer to 0 will indicate
                which ministries/agencies have are multi-sectoral and have a wide range of 
                responsibilities and power.             
            </p>
        </div>

        <div class="dashboard-item col-span-50">
            <h3>Programme Group Overlap</h3>
            <iframe title="chart 7" src="{% static 'charts/chart_7.html' %}" width="100%" height="600"></iframe>
            <p>
                Here we show how many government agencies/ministries share responsibilities
                for programmes that are similar. As is to be expected functions of general 
                administrtion and governance will be shared since each agency has to manage
                its own internal affairs.
            </p>
            <p>
                There are however some overlaps that can lead to inefficiencies. We see that
                several agencies are involved in "health & social protection", "education &
                human capital development" and "agri., fisheries & agro services". There will
                likely be duplication of functions and responsibilities as well as conflicting
                priorities.
            </p>
        </div>
        
        <div class="dashboard-item col-span-90">
            <h3>Total Budget 2025 Allocation by Expenditure Type (OPEX)</h3>
            <iframe title="chart 8" src="{% static 'charts/chart_8.html' %}" width="100%" height="600"></iframe>

            <p>
                We see that Total Statutory Expenditure is much smaller than Appropriated
                Expenditure. This is a good indication as it allows the government the 
                freedom to allocate resources according to its priorities rather than
                being constrained by required expenditures such as debt servicing.
            </p>
            <p>
                Within Appropriated Expenditure, we see that funding for Local Organizations
                and Constitutional Agencies as well as Wages and Salaries take up the
                largest portion of the OPEX budget. This suggests a strong emphasis on
                supporting these key areas within the government's overall budgetary
                framework.
            </p>
            <p>
                It is worth noting that Wages and Salaries is just the second largest
                expenditure in the Appropriated Expenditure category. In most governments, 
                especially in developing and public-service-heavy economies Wages 
                and Salaries are usually the single largest component of Appropriated 
                Expenditure. Guyana is, however, different as the government allocates
                significant resources to Local Organizations and Constitutional Agencies,
                which may include funding for various development projects and initiatives.
            </p>
        </div>

        <div class="dashboard-item col-span-90">
            <h3>NL SQL Executor</h3>
            <form id="sqlForm">
                <textarea id="sqlCommand" name="nl" placeholder="Ask your question..."></textarea>
                <button type="submit">Execute</button>
            </form>
            <div id="results"></div>
        </div>

    </div>

    <div class="dashboard-grid">
        <div class="dashboard-item col-span-90">
            <h3>Primary KPI (90% Width)</h3>
        </div>

        <div class="dashboard-item col-span-33">
            <h3>Chart A (33%)</h3>
        </div>
        <div class="dashboard-item col-span-33">
            <h3>Chart B (33%)</h3>
        </div>
        <div class="dashboard-item col-span-33">
            <h3>Chart C (33%)</h3>
        </div>
        
        <div class="dashboard-item col-span-50">
            <h3>Map View (50%)</h3>
        </div>
        <div class="dashboard-item col-span-50">
            <h3>List Data (50%)</h3>
        </div>
        
        <div class="dashboard-item col-span-25">
            <h3>Mini Chart (25%)</h3>
        </div>
        <div class="dashboard-item">
            <h3>Default Item (33%)</h3>
        </div>
    </div>

    
    <h1>NL SQL Executor</h1>
    <form id="sqlForm">
        <textarea id="sqlCommand" name="nl" placeholder="Ask your question..."></textarea>
        <button type="submit">Execute</button>
    </form>
    <div id="results"></div>
    <script src="/static/js/script.js"></script>
</body>
</html>